
body {
  background: #003E4F;
  color: white;
  font-family: 'Aladin', serif;
}

@keyframes slowScale {
  to {
    transform: scale(0.95);
  }
}

@keyframes crazyTwerp {
  0% {
    transform: rotate(-2deg);
  }
  0.05% {
    transform: rotate(2deg);
  }
  0.1% {
    transform: rotate(0deg);
  }
  99.9% {
    transform: rotate(0deg);
  }
}

div.logo {
  animation: slowScale 10s 0s infinite linear alternate;
}

div.logo2 {
  animation: crazyTwerp 13s 0s infinite linear alternate;
}
